{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "mysqldb_name": {
            "value": ""
        },
        "puppetenc_db_name": {
            "value": ""
        },
        "keyvault_name": {
            "value": ""
        }
    }
}